<footer class="m-0 p-0	 w-screen border border-t border-gray-800">
	<div class="container mx-auto text-sm px-4 py-6">
		Customer Care: Contact Us If You Have Any Queries Regarding The Project Or For Any Other Reason Regarding The Project. 9098985326, 7999734078
	</div>
</footer>
