---
import '../styles/styles.css';
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import "@picocss/pico"

export interface Props {
	title: string;
	disableFooter?: boolean;
}

const { title } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
	<head>
		<title>{title}</title>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="view-transition" content="same-origin" />
		<script is:inline src="https://unpkg.com/@rive-app/canvas@2.9.1"></script>

	</head>
	<body style="display: grid;" class="font-sans min-h-[100dvh] w-screen! h-[100vh] grid-rows-[auto_1fr_auto] overflow-x-hidden  text-white">
		<Nav />
		<slot/>
		<!-- Do not display the footer if it is disabled -->
		{
			!Astro.props.disableFooter && <Footer />
		}
	</body>
</html>
